# IDE
.vscode
.idea
.DS_Store

# Python
__pycache__
venv
scripts/__pycache__
scripts/venv
.venv
.ruff_cache

# starknet
node.json
artifacts
build

# nile
127.0.0.1.*

# Protostar
pragma/build/*
*logs.json

# Env files
.env

lint.sarif
coverage/*

# Scripts artifacts
blockhashes.json
deployed_addresses.json

# thoth relateds stuff 
output-callgraph/*
build/*
docs/callgraphs/*

# Hypothesis
.hypothesis/*
node_modules
tmp

# scarb
target

# Devnet deployments should not be pushed
deployments/devnet

*/.snfoundry_cache