[package]
name = "pragma"
version = "0.2.0"

[lib]

[dependencies]
alexandria_math = { git = "https://github.com/keep-starknet-strange/alexandria.git", rev = "46c8d8ab9e3bfb68b70a29b3246f809cd8bf70e4" }
alexandria_storage = { git = "https://github.com/keep-starknet-strange/alexandria.git", rev = "a3052ff" }
alexandria_data_structures = { git = "https://github.com/keep-starknet-strange/alexandria.git", rev = "46c8d8ab9e3bfb68b70a29b3246f809cd8bf70e4" }
alexandria_sorting = { git = "https://github.com/keep-starknet-strange/alexandria.git", rev = "46c8d8ab9e3bfb68b70a29b3246f809cd8bf70e4" }


cubit = { git = "https://github.com/influenceth/cubit" , rev = "2ccb2536dffa3f15ebd38b755c1be65fde1eab0c"}

starknet = "2.2.0"

[[target.starknet-contract]]
# Enable Sierra codegen.
sierra = true

# Enable CASM codegen.
casm = true

# Emit Python-powered hints in order to run compiled CASM class with legacy Cairo VM.
casm-add-pythonic-hints = true

allowed-libfuncs-list.name = "audited"

[scripts]
gen-project = "sh scripts/generate_cairo_project.sh"
sierra = "cairo-compile . -r"
test-cairo = "cairo-test --starknet ."

